@import url("https://fonts.googleapis.com/css?family=Catamaran:900&display=swap");
html {
  background-color: black;
  height: 100%;
}

body {
  display: flex;
  height: 100%;
}

.container {
  margin: auto;
}

.Title {
  font-family: "Catamaran", sans-serif;
  color: white;
  cursor: pointer;
  position: relative;
}
.Title h1 {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 6em;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
.Title__underline {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0.3em;
  height: 3px;
  background-color: #17bdef;
  z-index: 5;
  transition: transform 580ms cubic-bezier(0.2, 0.1, 0.15, 1.32);
}
.Title__highlight {
  position: absolute;
  width: 100%;
  bottom: -50;
  left: 0;
  height: 50px;
  background-color: #43ffbe;
  z-index: -1;
  transition: transform 400ms ease;
}
.Title__filled {
  position: absolute;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 6em;
  top: 0;
  -webkit-clip-path: polygon(0% 100%, 0% 99%, 100% 99%, 100% 100%);
          clip-path: polygon(0% 100%, 0% 99%, 100% 99%, 100% 100%);
  transition: -webkit-clip-path 600ms cubic-bezier(0.2, 0.1, 0.15, 1.32);
  transition: clip-path 600ms cubic-bezier(0.2, 0.1, 0.15, 1.32);
  transition: clip-path 600ms cubic-bezier(0.2, 0.1, 0.15, 1.32), -webkit-clip-path 600ms cubic-bezier(0.2, 0.1, 0.15, 1.32);
}
.Title:hover .Title__filled {
  -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
          clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
}
.Title:hover .Title__underline {
  transform: translateY(-9em);
}
.Title:hover .Title__highlight {
  transform: translateY(-2.2em);
}

body {
  min-height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: top;
  align-items: top-left;
  overflow: hidden;
}

.hamburger {
  padding: 15px;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  background-color: transparent;
}
.hamburger__container {
  width: 36px;
  height: 24px;
  position: relative;
}
.hamburger:hover .hamburger__inner {
  transform: translate(-51px, 50%);
  opacity: 0;
}
.hamburger:hover .hamburger__inner::before, .hamburger:hover .hamburger__inner::after {
  transform: translate(102px, 0);
  opacity: 0;
}
.hamburger.is-active .hamburger__inner {
  display: none;
}
.hamburger__inner {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  top: 50%;
  transform: translate(5px, -50%);
  opacity: 1;
}
.hamburger__inner::before, .hamburger__inner::after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  content: "";
  opacity: 1;
  transform: translate(-5px, 0);
}
.hamburger__inner::before {
  top: -13px;
}
.hamburger__inner::after {
  top: 13px;
}
.hamburger:hover .hamburger__hidden {
  opacity: 1;
  transform: translate(0, -50%);
}
.hamburger:hover .hamburger__hidden::before, .hamburger:hover .hamburger__hidden::after {
  opacity: 1;
  transform: translate(0, 0);
}
.hamburger.is-active .hamburger__hidden {
  opacity: 1;
  transform: rotate(45deg);
}
.hamburger.is-active .hamburger__hidden::before {
  transform: translate(0, 13px) rotate(90deg);
  transform-origin: center;
}
.hamburger.is-active .hamburger__hidden::after {
  transform-origin: center;
  transform: translate(0, -13px) rotate(0);
}
.hamburger__hidden {
  opacity: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  background-color: #17bdef;
  top: 50%;
  transform: translate(51px, -50%);
}
.hamburger__hidden::before, .hamburger__hidden::after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  background-color: #17bdef;
  content: "";
  transform: translate(102px, 0);
}
.hamburger__hidden::before {
  top: -13px;
}
.hamburger__hidden::after {
  top: 13px;
}/*# sourceMappingURL=style.css.map */